<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brasileirao</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brasileirao</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:5000/">Home</a></li>
      <li><a href="http://localhost:5000/serie_a">Serie A</a></li>
      <li><a href="http://localhost:5000/serie_b">Serie B</a></li>
      <li><a href="http://localhost:5000/estados">Estados</a></li>
      <li><a href="http://localhost:5000/cadastro">Cadastro de Time</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <%- body %>
</div>
</body>
</html>