<%- contentFor('body') %>
<div>
<h1>Times do Brasileirao</h1>
  <table class="table table-condensed">
    <thead>
			<th>Nome</th>
      <th>Estado</th>
			<th>Divisão</th>
		</thead>
		<tbody>
			<% for(var i = 0; i < list.length; i++) { %>
				<tr>
					<td><%= list[i].times %></td>
					<td><%= list[i].estados %></td>
					<td><%= list[i].divisoes %></td>
				</tr>
			<% } %>
		</tbody>	
  </table>
</div>